<div class="container">
  


<div style=" margin-top: -7%; margin-bottom: -4.5%; position: static;">

  <div class="navMargin d-none d-sm-block">
  <nav class="navbar navbar-expand-sm bg-transparent">
      
        <div class="navItem"  >
          <a  class="color-me" routerLink="/" >Home</a>
        </div>
        <div class="navItem">
          <a class="color-me" routerLink="/catagory/knw">Knowledge</a>
        </div>
        <div class="navItem">
            <a class="color-me"  routerLink="/catagory/ent"> Entertainment </a>
        </div>
        <div class="navItem">
          <a class="color-me" routerLink="/catagory/inf">Information</a>
        </div>
          <!-- <div class="navItem">
            <a class="color-me"  routerLink="/catagory/deals">Deal</a>
          </div> -->
      
         
        <div id="search-section">    
          <div class="searchMargin">
            <form [formGroup]="searchForm">
              <input  type="text" style="width: 130%" placeholder="search" name="search" formControlName="search" />
            </form>
            <button (click)='search()'>
              <div class="search"> <img src="assets/img/search1.png" ></div>
            </button>
          </div>   
      </div>
     
    </nav>
  </div>

</div>
  

  <nav class="navbar navbar-expand-sm navbar-light bg-light d-sm-none">

      <div class="d-inline p-2" style="margin-left: -5%">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" 
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      </div>
      <div class="d-inline p-2" style="margin-left: -2%; width:70%">
      <input class="form-control" type="text" placeholder="Search" aria-label="Search" >
    </div>
    <div class="d-inline p-2">
      <button class="btn"><img src="assets/img/search1.png" style="width:15px; height:15px"></button>
    </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
              <a  class="nav-link" routerLink="">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/catagory/info">Information</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/catagory/knw">Knowledge</a>
          </li>
          <li class="nav-item">
              <a class="nav-link"  routerLink="/catagory/ent"> Entertainment </a>
          </li>
          <!--<li class="nav-item">
              <a class="nav-link"  routerLink="/catagory/deals">Deal</a>
          </li>-->
        </ul>
      </div>
    </nav>
    <br>
      
</div>
<div class="line">
</div>