<!--Second header-->

<div class="container">

    <div style=" margin-top: -8%; margin-bottom: 3%; position: static;">

        <div class="navMargin d-none d-sm-block">
            <nav class="navbar navbar-expand-sm bg-transparent">

                <div class="navItem">
                    <a class="color-me" routerLink="/">Home</a>
                </div>
                <div class="navItem">
                    <a class="color-me" routerLink="/catagory/knw">Knowledge</a>
                </div>
                <div class="navItem">
                    <a class="color-me" routerLink="/catagory/ent"> Entertainment </a>
                </div>
                <div class="navItem">
                    <a class="color-me" routerLink="/catagory/inf">Information</a>
                </div>
                <!-- <div class="navItem">
                    <a class="color-me"  routerLink="/catagory/deals">Deal</a>
                  </div> -->


                <div id="search-section">
                    <div class="searchMargin">
                        <form [formGroup]="searchForm">
                            <input type="text" style="width: 130%" placeholder="search" name="search"
                                formControlName="search" />
                        </form>
                        <button (click)='search()'>
                            <div class="search"> <img src="assets/img/search1.png"></div>
                        </button>
                    </div>
                </div>

            </nav>
        </div>

    </div>

</div>


<hr class="style1">


<!--//Second header-->




<div class="d-none d-sm-block">
    <div class="container">
        <div class="row">
            <div class="col-2 h4">
                <div class="row my-5">
                    <div class="col">
                        <img class="mx-2" src="./assets/img/man-user.png" style="width: 25px;">
                        <a (click)="Profile()" routerLink="#"> My Profile </a>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col">
                        <img class="mx-2" src="./assets/img/parchment.png" style="width: 25px;">
                        <a (click)="History()" routerLink="#">My History </a>
                    </div>
                </div>
                <!-- <div class="row my-5">
              <div class="col">
                  <img class="mx-2" src="./assets/img/push-pin.png" style="width: 30px;">
                  <a (click)="Pins()" routerLink="#">Pins </a> 
              </div>
          </div> -->
            </div>


            <div class="col-3" *ngIf="nav1">
                <img class="mx-2 my-5 img-fluid h-auto photo1" src="./assets/img/images.png">
                <img class="mx-2 my-5 img-fluid h-auto photo1" src={{userData.picture}} *ngIf='userData.picture!=null'>
                <!-- <img class="mx-2 photo2" src="./assets/img/camera.png" style="width: 50px;">
            <input type="file"> -->
            </div>


            <div class="col" *ngIf="nav1">

                <div class="h2 my-5">
                    <b>{{userData.local.firstName}} {{userData.local.lastName}}</b>
                </div>

                <!-- <div class="h5"><b>Blog post rating</b></div>

        <div class="h3 set">8.6</div>
        <img class="set" src="./assets/img/star.png" style="width:30px">
        <img class="set" src="./assets/img/star.png" style="width:30px">
        <img class="set" src="./assets/img/star.png" style="width:30px">
        <img class="set" src="./assets/img/star.png" style="width:30px">
        <img class="set" src="./assets/img/star.png" style="width:30px"> -->

                <div class="h4 text-muted my-5"> Contact Information</div>

                <!-- <form> -->
                <div class="form-group float-label-control">
                    <label>Phone :</label>
                    <label>{{userData.phone}}</label>

                    <!-- <input type="text" class="form-control" id="phone"> -->
                </div>
                <div class="form-group">
                    <label>Address :</label>
                    <label>{{userData.address}}</label>
                    <!-- <input type="text" class="form-control" id="addr"> -->
                </div>
                <div class="form-group">
                    <label>Email :</label>
                    <label>{{userData.local.userMail}}</label>
                    <!-- <input type="text" class="form-control" id="email"> -->
                </div>
                <div class="form-group">
                    <label>Web site :</label>
                    <label>{{userData.website}}</label>
                    <!-- <input type="text" class="form-control" id="site"> -->
                </div>
                <!-- </form> -->


                <div class="h4 text-muted my-5">Basic Information</div>

                <!-- <form> -->
                <div class="form-group float-label-control">
                    <label>Birthday :</label>
                    <label>{{userData.birthday}}</label>
                    <!-- <input type="text" class="form-control" id="phone"> -->
                </div>
                <div class="form-group">
                    <label>Gender :</label>
                    <label>{{userData.gender}}</label>
                    <!-- <input type="text" class="form-control" id="addr"> -->
                </div>
                <!-- </form> -->
            </div>

            <div class="col-2" *ngIf="nav1">

            </div>


            <div class="col-10">
                <div *ngIf="nav2">
                    <app-history></app-history>
                </div>
                <div *ngIf="nav3">
                    <app-update-profile></app-update-profile>
                </div>
            </div>

        </div>

        <div class="row " *ngIf="nav1">
            <div class="col">

            </div>

            <div class="col-2">
                <button type="button" class="btn bg-warning text-white" (click)="Pins()">Update Account</button>
            </div>
        </div>
    </div>
</div>


<div class="d-sm-none">
    <div class="container">

        <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight mx-1">
                    <img class="mx-1" src="./assets/img/home-page.png" style="width: 20px;">
                    <a routerLink="/"> Home </a>
            </div>
            <div class="p-2 bd-highlight mx-1">
                    <img class="mx-1" src="./assets/img/man-user.png" style="width: 20px;">
                    <a (click)="Profile()" routerLink="#"> My Profile </a>
            </div>
            <div class="p-2 bd-highlight mx-1">
                    <img class="mx-1" src="./assets/img/parchment.png" style="width: 20px;">
                    <a (click)="History()" routerLink="#">My History </a>
            </div>

        </div>

        <div class="text-center">
            <img class="mx-2 my-5 img-fluid h-auto photo1" src="./assets/img/images.png">
            <img class="mx-2 my-5 img-fluid h-auto photo1" src={{userData.picture}} *ngIf='userData.picture!=null'>
        </div>


        <div class="h4 text-muted my-5"> Contact Information</div>

        <!-- <form> -->
        <div class="form-group float-label-control">
            <label>Phone :</label>
            <label>{{userData.phone}}</label>

            <!-- <input type="text" class="form-control" id="phone"> -->
        </div>
        <div class="form-group">
            <label>Address :</label>
            <label>{{userData.address}}</label>
            <!-- <input type="text" class="form-control" id="addr"> -->
        </div>
        <div class="form-group">
            <label>Email :</label>
            <label>{{userData.local.userMail}}</label>
            <!-- <input type="text" class="form-control" id="email"> -->
        </div>
        <div class="form-group">
            <label>Web site :</label>
            <label>{{userData.website}}</label>
            <!-- <input type="text" class="form-control" id="site"> -->
        </div>
        <!-- </form> -->


        <div class="h4 text-muted my-5">Basic Information</div>

        <!-- <form> -->
        <div class="form-group float-label-control">
            <label>Birthday :</label>
            <label>{{userData.birthday}}</label>
            <!-- <input type="text" class="form-control" id="phone"> -->
        </div>
        <div class="form-group">
            <label>Gender :</label>
            <label>{{userData.gender}}</label>
            <!-- <input type="text" class="form-control" id="addr"> -->
        </div>

        <div class="text-center"><button type="button" class="btn bg-warning text-white" (click)="Pins()">Update
                Account</button>
        </div>
    </div>
</div>