
  <div class="container section no-padding footer">
      <div class="row no-margin justify-content-around">
          <div class="col-lg-3 col-sm-6 padding-top">
              <div class="footer-logo">
                  <img class="footer-logo" src="./assets/img/footer logo.png">
              </div>
              <div class="f-icons">
                  <a href="#" class="fa fa-facebook"></a>
                  <a href="#" class="fa fa-twitter"></a>
                  <!--
                      <a href="#" class="fa fa-google"></a>
                  <a href="#" class="fa fa-linkedin"></a>
              -->
                  <a href="#" class="fa fa-youtube"></a>
                  <a href="#" class="fa fa-instagram"></a>
                  <!-- <a href="#" class="fa fa-pinterest"></a>
                  <a href="#" class="fa fa-snapchat-ghost"></a>
                  <a href="#" class="fa fa-skype"></a>
                  <a href="#" class="fa fa-android"></a>
                  <a href="#" class="fa fa-dribbble"></a>
                  <a href="#" class="fa fa-vimeo"></a>
                  <a href="#" class="fa fa-tumblr"></a>
                  <a href="#" class="fa fa-vine"></a>
                  <a href="#" class="fa fa-foursquare"></a>
                  <a href="#" class="fa fa-stumbleupon"></a>
                  <a href="#" class="fa fa-flickr"></a>
                  <a href="#" class="fa fa-yahoo"></a>
                  <a href="#" class="fa fa-reddit"></a> -->
                  <a href="#" class="fa fa-rss"></a>
              </div>

          </div>
          <div class="col-lg-3 col-sm-6 padding-top">
              <li class="footer-item">
                  <a href="#" class="footer-link">info@sewwas.lk</a>
              </li>
              <li class="footer-item">
                  <a href="#" class="footer-link">+94 77 123 123 4</a>
              </li>
              <li class="footer-item">
                  <a href="#" class="footer-link">No 5, Gangodawila, Nugegoda</a>
              </li>
          </div>
          <div class="col-lg-3 col-sm-6 padding-top">
              <li class="footer-item">
                  <a href="#" class="footer-menu">Home</a>
              </li>
              <li class="footer-item">
                  <a href="#" class="footer-menu">Entertaintment</a>
              </li>
              <li class="footer-item">
                  <a href="#" class="footer-menu">Information</a>
              </li>
              <li class="footer-item">
                  <a href="#" class="footer-menu">Knowladge</a>
              </li>
              <li class="footer-item">
                  <a href="#" class="footer-menu">Blog</a>
              </li>
          </div>
          <div class="col-lg-3 col-sm-6 padding-top">
              <li class="footer-item">
                  <a href="#" class="footer-link">Privacy & Cookies</a>
              </li>
              <li class="footer-item">
                  <a href="#" class="footer-link"> Privacy Settings</a>
              </li>
              <li class="footer-item">
                  <a href="#" class="footer-link">Terms of use</a>
              </li>
          </div>
      </div>
  </div>
