<div class="container my-5">

  <h3 class="text-primary my-5"><b>Deals</b></h3>
  <div class="row" style="margin-left: 10%">
    <div class="col">
      <div class="row">
        <div class="card" style="width: 40rem; height: 50rem;">
          <img class="card-img-top img-fluid" src="./assets/img/earthmap.jpg" style="width: 40rem; height: 30rem;"
            alt="Card image cap">
          <div class="card-body">
            <div class="text-center">
              <h4>Wireless Headset</h4>
              <h3>$28.00</h3>
              <h6>amazon.com</h6>
              <button class="btn btn-primary">Shop now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card" style="width: 40rem; height: 50rem;">
          <img class="card-img-top img-fluid" src="./assets/img/earthmap.jpg" style="width: 40rem; height: 30rem;"
            alt="Card image cap">
          <div class="card-body">
            <div class="text-center">
              <h4>Wireless Headset</h4>
              <h3>$28.00</h3>
              <h6>amazon.com</h6>
              <button class="btn btn-primary">Shop now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-md-none">
        <div class="card" style="width: 40rem; height: 50rem;">
          <img class="card-img-top img-fluid" src="./assets/img/earthmap.jpg" style="width: 40rem; height: 30rem;"
            alt="Card image cap">
          <div class="card-body">
            <div class="text-center">
              <h4>Wireless Headset</h4>
              <h3>$28.00</h3>
              <h6>amazon.com</h6>
              <button class="btn btn-primary">Shop now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm d-none d-md-block">
        <div class="row">
            <div class="card" style="width: 40rem; height: 50rem;">
              <img class="card-img-top img-fluid" src="./assets/img/earthmap.jpg" style="width: 40rem; height: 30rem;"
                alt="Card image cap">
              <div class="card-body">
                <div class="text-center">
                  <h4>Wireless Headset</h4>
                  <h3>$28.00</h3>
                  <h6>amazon.com</h6>
                  <button class="btn btn-primary">Shop now</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="card" style="width: 40rem; height: 50rem;">
                <img class="card-img-top img-fluid" src="./assets/img/earthmap.jpg" style="width: 40rem; height: 30rem;"
                  alt="Card image cap">
                <div class="card-body">
                  <div class="text-center">
                    <h4>Wireless Headset</h4>
                    <h3>$28.00</h3>
                    <h6>amazon.com</h6>
                    <button class="btn btn-primary">Shop now</button>
                  </div>
                </div>
              </div>
            </div>
    </div>
  </div>

</div>

<app-home-deals></app-home-deals>

<div class="container my-5">
  <div class="row">
    <div class="col mx-5">
      <h3 class="mx-4"><b>New</b></h3>
      <div class="row my-5">
        <div class="col">
          <img class="img-fluid" src="./assets/img/deal 1.jpg">
        </div>
        <div class="col">
          <div class="text-center">
            <h4>Wireless Headset</h4>
            <h3>$28.00</h3>
            <h6>amazon.com</h6>
            <button class="btn btn-primary">Shop now</button>
          </div>
        </div>
      </div>
      <div class="row my-5">
        <div class="col">
          <img class="img-fluid" src="./assets/img/deal 1.jpg">
        </div>
        <div class="col">
          <div class="text-center">
            <h4>Wireless Headset</h4>
            <h3>$28.00</h3>
            <h6>amazon.com</h6>
            <button class="btn btn-primary">Shop now</button>
          </div>
        </div>
      </div>
      <div class="row my-5">
        <div class="col">
          <img class="img-fluid" src="./assets/img/deal 1.jpg">
        </div>
        <div class="col">
          <div class="text-center">
            <h4>Wireless Headset</h4>
            <h3>$28.00</h3>
            <h6>amazon.com</h6>
            <button class="btn btn-primary">Shop now</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col mx-5">
      <h3 class="mx-4"><b>Hot</b></h3>
      <div class="row my-5">
        <div class="col">
          <img class="img-fluid" src="./assets/img/deal 1.jpg">
        </div>
        <div class="col">
          <div class="text-center">
            <h4>Wireless Headset</h4>
            <h3>$28.00</h3>
            <h6>amazon.com</h6>
            <button class="btn btn-primary">Shop now</button>
          </div>
        </div>
      </div>
      <div class="row my-5">
        <div class="col">
          <img class="img-fluid" src="./assets/img/deal 1.jpg">
        </div>
        <div class="col">
          <div class="text-center">
            <h4>Wireless Headset</h4>
            <h3>$28.00</h3>
            <h6>amazon.com</h6>
            <button class="btn btn-primary">Shop now</button>
          </div>
        </div>
      </div>
      <div class="row my-5">
        <div class="col">
          <img class="img-fluid" src="./assets/img/deal 1.jpg">
        </div>
        <div class="col">
          <div class="text-center">
            <h4>Wireless Headset</h4>
            <h3>$28.00</h3>
            <h6>amazon.com</h6>
            <button class="btn btn-primary">Shop now</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col mx-5">
      <h3 class="mx-4"><b>Sale</b></h3>
      <div class="row my-5">
        <div class="col">
          <img class="img-fluid" src="./assets/img/deal 1.jpg">
        </div>
        <div class="col">
          <div class="text-center">
            <h4>Wireless Headset</h4>
            <h3>$28.00</h3>
            <h6>amazon.com</h6>
            <button class="btn btn-primary">Shop now</button>
          </div>
        </div>
      </div>
      <div class="row my-5">
        <div class="col">
          <img class="img-fluid" src="./assets/img/deal 1.jpg">
        </div>
        <div class="col">
          <div class="text-center">
            <h4>Wireless Headset</h4>
            <h3>$28.00</h3>
            <h6>amazon.com</h6>
            <button class="btn btn-primary">Shop now</button>
          </div>
        </div>
      </div>
      <div class="row my-5">
        <div class="col">
          <img class="img-fluid" src="./assets/img/deal 1.jpg">
        </div>
        <div class="col">
          <div class="text-center">
            <h4>Wireless Headset</h4>
            <h3>$28.00</h3>
            <h6>amazon.com</h6>
            <button class="btn btn-primary">Shop now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>