.welcome{
    font-size: 170%;
    padding-top:2%;
    font-weight: 550;
    font-family: Open Sans,sans-serif;
}
.CP{
    font-size: 140%;
    font-weight: 550;
    margin-top: -1%;
    font-family: Open Sans,sans-serif;
}
label{
    border-radius: 50%;
     }



input[type="file"] {
    display: none;
}

.img1
	{
		position: relative;
		top: 0;
        left: 0;
        border-radius:100%;
    
	}
	.img2
	{
		position: absolute;
		top: 60%;
        left: 14%;
        border-radius:100%;
    }
 .picMargin{
     margin-left: 44%;
 }
 hr{
     height: 2px;
     margin-top: 1%
 }
 input{
     width:80%;
 }

 .btnSub{
     color:white;
     background-color: #ff751a;
     padding:10px 20px 10px 20px ;
     font-size:15px;
     border-radius:15px;
     
 }
 .btnSub:hover{
     background-color:  #ff944d;
 }
 .btnSubMargin{
   margin-bottom: 10%;
   margin-top: 5%;
 }
 
 .text-size{
     font-size: 17px;
     font-family: Open Sans,sans-serif;
     
 }

 .len{
     width: 100%
 }

div{
    font-family:Open Sans,sans-serif;
}
