<!--========================== BODY-top ===========================-->
<div class="cat-body-top">
    <div class="container no-padding">
        <div class="row no-margin">
            <h3 class="cat-ttl">Knowledge</h3>
        </div>
        <div class="row no-margin">
            <div class="col-lg-8 col-sm-12  no-padding ">
                <div id="demo" class="carousel slide" data-ride="carousel">
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src={{recent[0].enlargeImgUrl}} alt="Sri Lanka blasts: IT worker held" width="100%">
                            <div (click)="moreDetail(recent[0])" class="carousel-caption marg point">
                                <h3>{{recent[0].storyText}}</h3>
                                <div class="cat-c-source">
                                    <img *ngIf='recent[0].storySite=="hiru"' class="source" src="assets/img/hiru.png">
                                    <img *ngIf='recent[0].storySite=="adaDerana"' class="source" src="assets/img/derana.png">
                                    <img *ngIf='recent[0].storySite=="Youtube"' class="source" src="assets/img/youtube.png">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src={{recent[1].enlargeImgUrl}} alt="HAPPY BIRTHAY BABY! HAPPY BIRTHDAY ERIC KRIPKE!" width="100%">
                            <div (click)="moreDetail(recent[1])" class="carousel-caption marg point">
                                <h3>{{recent[1].storyText}}</h3>
                                <div class="cat-c-source">
                                    <img *ngIf='recent[1].storySite=="hiru"' class="source" src="assets/img/hiru.png">
                                    <img *ngIf='recent[1].storySite=="adaDerana"' class="source" src="assets/img/derana.png">
                                    <img *ngIf='recent[1].storySite=="Youtube"' class="source" src="assets/img/youtube.png">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src={{recent[2].enlargeImgUrl}} alt="Supernatural Continues to Make a Big Ol' Mess of Things" width="100%">
                            <div (click)="moreDetail(recent[2])" class="carousel-caption marg point">
                                <h3>{{recent[2].storyText}}</h3>
                                <div class="cat-c-source">
                                    <img *ngIf='recent[2].storySite=="hiru"' class="source" src="assets/img/hiru.png">
                                    <img *ngIf='recent[2].storySite=="adaDerana"' class="source" src="assets/img/derana.png">
                                    <img *ngIf='recent[2].storySite=="Youtube"' class="source" src="assets/img/youtube.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12  no-padding ">
                <div class="col-lg-3 col-sm-6 no-padding"></div>
                <div class="sec-news-block-3 sec-news-block-b">
                    <div *ngFor="let item of recent; let i = index">
                        <div class="cat-news-item-a" *ngIf="i > 2 && i < 6">
                            <div class="row no-margin">
                                <div class="col-6 no-padding">
                                    <img class="cat-news-item-a-img" src={{item.enlargeImgUrl}}> </div>
                                <div class="col-6 no-padding">
                                    <div class="cat-news-item-a-ttl">
                                        <div class="cat-a-hedline point" (click)="moreDetail(item)">{{item.storyText}}</div>
                                        <div class="n-i-source">
                                            <span>
                                                <a target="_blank" href={{item.storyTextUrl}}>
                                                    <img *ngIf='item.storySite=="hiru"' class="source" src="assets/img/hiru.png">
                                                    <img *ngIf='item.storySite=="adaDerana"' class="source" src="assets/img/derana.png">
                                                    <img *ngIf='item.storySite=="Youtube"' class="source" src="assets/img/youtube.png">
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                  <div class="cat-news-item-a">
                      <div class="row no-margin">
                          <div class="col-6 no-padding"> <img class="cat-news-item-a-img" src="assets/img/news item 5.png"> </div>
                          <div class="col-6 no-padding">
                              <div class="cat-news-item-a-ttl">
                                  <div class="cat-a-hedline">Sri Lanka blasts: IT worker held</div>
                                  <div class="n-i-source"> <img class="source" src="assets/img/source logo 3.png"> </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="cat-news-item-a">
                      <div class="row no-margin">
                          <div class="col-6 no-padding"> <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                          <div class="col-6 no-padding">
                              <div class="cat-news-item-a-ttl">
                                  <div class="cat-a-hedline">Sri Lanka blasts: IT worker held</div>
                                  <div class="n-i-source"> <img class="source" src="assets/img/source logo 3.png"> </div>
                              </div>
                          </div>
                      </div>
                  </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--========================== cat-sec  ===========================-->
<div class="container no-padding cat-sec">
    <div class="row cat-sec-row-a">
        <div class="col-lg-3 col-sm-6 ">
            <div class="row no-margin">
                <a routerLink="/sub-catagory/tech">
                    <h4 class="sub-cat-ttl">Tech News</h4>
                </a>
            </div>
            <div *ngFor="let item of technews; let i = index">
                <div class="sub-cat-news-item-a" *ngIf="i < 3">
                    <div class="row no-margin">
                        <div class="col-5 no-padding">
                            <img class="cat-news-item-a-img" src={{item.enlargeImgUrl}}> </div>
                        <div class="col-7 no-padding">
                            <div class="cat-news-item-a-ttl">
                                <div class="a-hedline" (click)="moreDetail(item)">{{item.storyText}}</div>
                                <div class="n-i-source">
                                    <span>
                                        <a target="_blank" href={{item.storyTextUrl}}>
                                            <img *ngIf='item.storySite=="hiru"' class="source" src="assets/img/hiru.png">
                                            <img *ngIf='item.storySite=="adaDerana"' class="source" src="assets/img/derana.png">
                                            <img *ngIf='item.storySite=="Youtube"' class="source" src="assets/img/youtube.png">
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
          <div class="sub-cat-news-item-a">
              <div class="row no-margin">
                  <div class="col-5 no-padding"> <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                  <div class="col-7 no-padding">
                      <div class="cat-news-item-a-ttl">
                          <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                          <div class="n-i-source"> <img class="source" src="assets/img/source logo 3.png"> </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="sub-cat-news-item-a">
              <div class="row no-margin">
                  <div class="col-5 no-padding"> <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                  <div class="col-7 no-padding">
                      <div class="cat-news-item-a-ttl">
                          <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                          <div class="n-i-source"> <img class="source" src="assets/img/source logo 3.png"> </div>
                      </div>
                  </div>
              </div>
          </div>-->
        </div>
        <div class="col-lg-3 col-sm-6 ">
            <div class="row no-margin">
                <h3 class="sub-cat-ttl"></h3>
            </div>
            <div *ngFor="let item of technews; let i = index">
                <div class="sub-cat-news-item-a" *ngIf="i > 2 && i < 6">
                    <div class="row no-margin">
                        <div class="col-5 no-padding">
                            <img class="cat-news-item-a-img" src={{item.enlargeImgUrl}}> </div>
                        <div class="col-7 no-padding">
                            <div class="cat-news-item-a-ttl">
                                <div class="a-hedline" (click)="moreDetail(item)">{{item.storyText}}</div>
                                <div class="n-i-source">
                                    <span>
                                        <a target="_blank" href={{item.storyTextUrl}}>
                                            <img *ngIf='item.storySite=="hiru"' class="source" src="assets/img/hiru.png">
                                            <img *ngIf='item.storySite=="adaDerana"' class="source" src="assets/img/derana.png">
                                            <img *ngIf='item.storySite=="Youtube"' class="source" src="assets/img/youtube.png">
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
          <div class="sub-cat-news-item-a">
              <div class="row no-margin">
                  <div class="col-5 no-padding"> <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                  <div class="col-7 no-padding">
                      <div class="cat-news-item-a-ttl">
                          <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                          <div class="n-i-source"> <img class="source" src="assets/img/source logo 3.png"> </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="sub-cat-news-item-a">
              <div class="row no-margin">
                  <div class="col-5 no-padding"> <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                  <div class="col-7 no-padding">
                      <div class="cat-news-item-a-ttl">
                          <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                          <div class="n-i-source"> <img class="source" src="assets/img/source logo 3.png"> </div>
                      </div>
                  </div>
              </div>
          </div>-->
        </div>
        <div class="col-lg-3 col-sm-6 ">
            <div class="row no-margin">
                <h3 class="sub-cat-ttl"></h3>
            </div>
            <div *ngFor="let item of technews; let i = index">
                <div class="sub-cat-news-item-a" *ngIf="i > 5 && i < 9">
                    <div class="row no-margin">
                        <div class="col-5 no-padding">
                            <img class="cat-news-item-a-img" src={{item.enlargeImgUrl}}> </div>
                        <div class="col-7 no-padding">
                            <div class="cat-news-item-a-ttl">
                                <div class="a-hedline" (click)="moreDetail(item)">{{item.storyText}}</div>
                                <div class="n-i-source">
                                    <span>
                                        <a target="_blank" href={{item.storyTextUrl}}>
                                            <img *ngIf='item.storySite=="hiru"' class="source" src="assets/img/hiru.png">
                                            <img *ngIf='item.storySite=="adaDerana"' class="source" src="assets/img/derana.png">
                                            <img *ngIf='item.storySite=="Youtube"' class="source" src="assets/img/youtube.png">
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
          <div class="sub-cat-news-item-a">
              <div class="row no-margin">
                  <div class="col-5 no-padding"> <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                  <div class="col-7 no-padding">
                      <div class="cat-news-item-a-ttl">
                          <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                          <div class="n-i-source"> <img class="source" src="assets/img/source logo 3.png"> </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="sub-cat-news-item-a">
              <div class="row no-margin">
                  <div class="col-5 no-padding"> <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                  <div class="col-7 no-padding">
                      <div class="cat-news-item-a-ttl">
                          <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                          <div class="n-i-source"> <img class="source" src="assets/img/source logo 3.png"> </div>
                      </div>
                  </div>
              </div>
          </div>-->
        </div>
        <div class="col-lg-3 col-sm-6 ">
            <div class="row no-margin">
                <h3 class="sub-cat-ttl"></h3>
            </div>
            <div *ngFor="let item of technews; let i = index">
                <div class="sub-cat-news-item-a" *ngIf="i > 8 && i < 12">
                    <div class="row no-margin">
                        <div class="col-5 no-padding">
                            <img class="cat-news-item-a-img" src={{item.enlargeImgUrl}}> </div>
                        <div class="col-7 no-padding">
                            <div class="cat-news-item-a-ttl">
                                <div class="a-hedline" (click)="moreDetail(item)">{{item.storyText}}</div>
                                <div class="n-i-source">
                                    <span>
                                        <a target="_blank" href={{item.storyTextUrl}}>
                                            <img *ngIf='item.storySite=="hiru"' class="source" src="assets/img/hiru.png">
                                            <img *ngIf='item.storySite=="adaDerana"' class="source" src="assets/img/derana.png">
                                            <img *ngIf='item.storySite=="Youtube"' class="source" src="assets/img/youtube.png">
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
          <div class="sub-cat-news-item-a">
              <div class="row no-margin">
                  <div class="col-5 no-padding"> <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                  <div class="col-7 no-padding">
                      <div class="cat-news-item-a-ttl">
                          <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                          <div class="n-i-source"> <img class="source" src="assets/img/source logo 3.png"> </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="sub-cat-news-item-a">
              <div class="row no-margin">
                  <div class="col-5 no-padding"> <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                  <div class="col-7 no-padding">
                      <div class="cat-news-item-a-ttl">
                          <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                          <div class="n-i-source"> <img class="source" src="assets/img/source logo 3.png"> </div>
                      </div>
                  </div>
              </div>
          </div>-->
        </div>
    </div>
    <!-- <div class="row cat-sec-row-b">
        <div class="col-lg-3 col-sm-6 ">
            <div class="row no-margin">
                <h3 class="sub-cat-ttl">sub Catagary Name</h3>
            </div>
            <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 ">
            <div class="row no-margin">
                <h3 class="sub-cat-ttl">sub Catagary Name</h3>
            </div>
            <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 ">
            <div class="row no-margin">
                <h3 class="sub-cat-ttl">sub Catagary Name</h3>
            </div>
            <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 ">
            <div class="row no-margin">
                <h3 class="sub-cat-ttl">sub Catagary Name</h3>
            </div>
            <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>