.TN{
	background-color: black;
	color: white;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	margin: 12px 12px 12px -1.25%;
	padding: 4px 12px 3px 12px;
	list-style: none ;       
	width: 100%;}

.big-img{
	position: absolute; 
	color:white; 
	background:rgba(0, 0, 0, 0.5);
	width:99%; 
	margin-top:30vh;
	font-size: 100%
}

.small-img{
	position: absolute; 
	color:white; 
	background:rgba(0, 0, 0, 0.5);
	width:49%;
	margin-top:20%;
	font-size: 80%
}

.small2-img{
	position: absolute; 
	color:white; 
	background:rgba(0, 0, 0, 0.5);
	width:49%;
	margin-top:20%;
	margin-left: 50%;
	font-size: 80%
}