<p class="topText d-none d-sm-block" style="margin-left:11%; margin-bottom: 0%">
  <span class="TN"> Trending now </span>Latest News | Current News | Breaking news | Latest  video </p>
<div class="container d-none d-sm-block" style="padding-left: 0%; margin-bottom: -10%">
<div class="loader">
  <div>

    <svg id="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewbox="0 0 1200 840" enable-background="new 0 0 1200 840" xml:space="preserve">

    </svg>




    <div class="container2" id="container2">
      <div class="carousel-wrapper">
        <div class="carousel" data-flickity='{ "initialIndex": 2,"pageDots": false}' >
          <div class="carousel-cell" aria-selected="false" [routerLink]="['/catagory', 'knw']">
            <!-- <h3>Knowledge</h3> -->
            <!-- <a class="more" href="">{{knwArray[0].storyText | slice:0:60}}</a> -->
            <!-- <div class="imageSize">
              <img src={{knwArray[0].enlargeImgUrl}} />
            </div>
            <div>
              <p>
                {{knwArray[0].storyText}}
              </p>
            </div> -->
            <div class="backgroundImageSize">
              <img src={{knwArray[0].enlargeImgUrl}} alt="Sri Lanka blasts: IT worker held" width="100%">
              <div class="bottom-left" (click)="moreDetail(knwArray[0])">{{knwArray[0].storyText}}</div>
            </div>
          </div>
          <div class="carousel-cell" aria-selected="false" [routerLink]="['/catagory', 'inf']">
            <!-- <h3>Information</h3> -->
            <!-- <a class="more" href="">{{infArray[0].storyText | slice:0:60}}</a> -->
            <!-- <div class="imageSize">
              <img src={{infArray[0].enlargeImgUrl}} />
            </div>
            <div>
              <p>
                {{infArray[0].storyText}}
              </p>
            </div> -->
            <div class="backgroundImageSize">
              <img src={{infArray[0].enlargeImgUrl}} alt="Sri Lanka blasts: IT worker held" width="100%">
              <div class="bottom-left" (click)="moreDetail(infArray[0])">{{infArray[0].storyText}}</div>
            </div>
          </div>
          <div class="carousel-cell" aria-selected="true">
            <!-- <h3>Home</h3> -->
            <!-- <a class="more" href="">{{latestArray[1].storyText | slice:0:60}}</a> -->
            <!-- <div class="imageSize">
              <img src={{latestArray[1].enlargeImgUrl}} />
            </div>
            <div>
              <p>
                {{latestArray[1].storyText}}
              </p>
            </div> -->
            <div class="backgroundImageSize">
              <img src={{latestArray[1].enlargeImgUrl}}  alt="Sri Lanka blasts: IT worker held" width="100%">
              <div class="bottom-left" (click)="moreDetail(latestArray[1])">{{latestArray[1].storyText}}</div>
            </div>
          </div>
          <div class="carousel-cell" aria-selected="false" [routerLink]="['/catagory', 'ent']">
            <!-- <h3>Entertainment</h3> -->
            <!-- <a class="more" href="">{{entArray[0].storyText | slice:0:40}}</a> -->
            <!-- <div class="imageSize">
              <img src={{entArray[0].enlargeImgUrl}} />
            </div>
            <div>
              <p>
                {{entArray[0].storyText}}
              </p>
            </div> -->
            <div class="backgroundImageSize">
              <img src={{entArray[0].enlargeImgUrl}}  alt="Sri Lanka blasts: IT worker held" width="100%">
              <div class="bottom-left" (click)="moreDetail(entArray[0])">{{entArray[0].storyText}}</div>
            </div>
          </div>
          <div class="carousel-cell" aria-selected="false">
            <!-- <h3>Blog</h3> -->
            <!-- <a class="more" href="">Explore more</a>
            <div class="imageSize">
              <img src="https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="
              />
            </div> -->
            <div class="backgroundImageSize">
              <img src="https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="  alt="Sri Lanka blasts: IT worker held" width="100%">
              <div class="bottom-left"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>