

    <div class="d-flex flex-row justify-content-end">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <span aria-hidden="true">1-22 of 22</span>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>


        <!-- <div class="d-flex flex-row" >
            <nav aria-label="Page navigation example">
             <ul class="pagination">
                <li class="page-item">
                    <span aria-hidden="true"><input type="checkbox"/></span>
                </li>
              <li class="page-item">
                <a class="page-link"  aria-label="Previous">
                  <span aria-hidden="true">
                      <img src="assets/img/tag-black-shape.png" style="width: 15px;">
                    <select>
                      <option></option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                </span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">Publish</span>
                </a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">Revert to draft</span>
                  </a>
                </li>
              <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                     <span aria-hidden="true"><img src="assets/img/rubbish-bin.png" style="width: 15px;"></span>
                  </a>
              </li>
            </ul>
          </nav>
        </div> -->
  


<table class="table">
<tbody>
  <div *ngFor="let item of blogArray; let i = index">
  <tr>
    <!-- <td class="w-2"><input type="checkbox"/></td> -->
    <td class="col-sm-10">{{item.title}}</td>
    <td class="w-10 spec">{{item.username}}</td>
    <td class="w-10">{{item.comments.length}} <img src="assets/img/chat.png" style="width: 15px;"></td>
    <td class="w-10">{{item.voteCount}}<img src="assets/img/eye.png" style="width: 15px;"></td>
    <td class="col-sm-1">{{item.createDate | slice:0:10}}</td>
  </tr>
  </div>
</tbody>
</table>


<br><br><br>
