<!-- <app-header></app-header> -->
<!-- <app-body-top></app-body-top> -->
<!-- <app-new-body-top></app-new-body-top> -->

<!--<body class="d-none d-sm-block" style="font-family: open sans, sans-serif">
    <app-first-header></app-first-header>
    <div style="margin:-1% 12% 0% 10%">
        <app-first2-header></app-first2-header>
    </div>
    <app-second-header></app-second-header>
    <div style="margin-bottom: -12%">
        <app-new-header></app-new-header>
    </div>
    <div>
        <app-information></app-information>
    </div>
    <div style="margin-top:-3%">
        <app-entertaintment></app-entertaintment>
    </div>
    <div style="margin-top:-3%">
        <app-home-deals></app-home-deals>
    </div>
    <div style="margin-top:-3%">
        <app-knowladge></app-knowladge>
    </div>
    <div style="margin-top:-3%">
        <app-home-deals></app-home-deals>
    </div>
    <div style="margin-top:-3%">
        <app-footer></app-footer>
    </div>
</body>


<body class="d-sm-none" style="font-family: open sans, sans-serif">
    <app-first-header></app-first-header>
    <div style="margin: -1% 0% 5% 0%">
        <app-first2-header></app-first2-header>
    </div>
    <div style="margin-bottom:10%">
        <app-second-header></app-second-header>
    </div>
    <div>
        <app-information></app-information>
    </div>
    <div style="margin-top:-10%">
        <app-entertaintment></app-entertaintment>
    </div>
    <div style="margin-top:-10%">
        <app-home-deals></app-home-deals>
    </div>
    <div style="margin-top:-10%">
        <app-knowladge></app-knowladge>
    </div>
    <div style="margin-top:-10%">
        <app-home-deals></app-home-deals>
    </div>
    <div style="margin-top:-10%">
        <app-footer></app-footer>
    </div>
</body>-->



<!-- <app-first-header></app-first-header> -->
<app-first2-header></app-first2-header>
<app-second-header></app-second-header>
<app-new-header></app-new-header>
<app-information></app-information>
<app-home-deals></app-home-deals>
<app-entertaintment></app-entertaintment>
<app-knowladge></app-knowladge>
<app-home-deals></app-home-deals>
<app-footer></app-footer>