.textHead{
    text-align: justify;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.imageAlignment{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80%;
}
.textContent{
    text-align: justify;
    margin-top: 20px;
    margin-left:-1%;
    margin-right: -1%;
}
.commentArea{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}

.btn{
    margin-top: 5px;
}

.vote{
    margin-left: 50px;
    margin-right: 50px;
}
.btnAlign{
    margin-left: 50px;
    margin-right: 50px;
}
.viewComments{
    margin-left: 50px;
    margin-right: 50px;
}
.comment-user-profile-image{
    height: 12%;
}
.comment-align{
    height: 80px;
}
.font-style-user{
    font-weight:100;
}
.modal {
    background-color: rgba(0,0,0,0.5);
  }