<div class="NPBbackground d-sm-none" style="margin-top: 5%">
    <button type="button" class="btn btn-warning" *ngIf="!marked6" (click)="NewPost()" style="margin-left:70%">New
        post</button>
</div>

<!--sign modal start-->

  <!-- Modal large--> 
  <div class="container  d-none d-sm-block">
    
  
  <div class="modal show" *ngIf="show1"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  
    <div class="modal-dialog " role="document">
      <div class="modal-content " style="position:absolute;left:-50vw; top:100%" >
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel" style="color:red">Please Sign In l</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <b>You have to sign in before add a new post</b>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"  id="btnHideModal" data-dismiss="modal" (click)="close()" >Close</button>
        
        </div>
      </div>
    </div>
  </div>
</div>
   <!-- Modal small-->
   <div class="container d-sm-none">
       
   
   <div class="modal show " *ngIf="show1"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  
        <div class="modal-dialog " role="document">
          <div class="modal-content" style="position:absolute;left:10vw;width:80%; top:100%"  >
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel" style="color:red">Please Sign In s</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <b>You have to sign in before add a new post</b>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary"  id="btnHideModal" data-dismiss="modal" (click)="close()" >Close</button>
            
            </div>
          </div>
        </div>
      </div>

    </div>
<!--sign modal closed-->





<div class="NPBbackground d-none d-sm-block" style="margin-top: 0%">
    <button type="button" class="btn btn-warning" *ngIf="!marked6" (click)="NewPost()" style="margin-left:85%">New
        post</button>
</div>
<br><br><br>
<div *ngIf="marked6">
    <app-new-post></app-new-post>
</div>

<div *ngIf="!marked6">
    <div class="row d-none d-sm-block">
        <div class="col-sm-3">
            <div class="container ">
                <div class="aMargin">
                     <img class="web" src="assets/img/reading.jpg" width="20px"
                            height="30px" />
                            <a class="btn" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Reading List 
                            </a>
                            <div class="collapse" id="collapseExample" style="margin-left:60px ">
                                <h4 class="my-5 point" (click)="ReadingList()">All</h4>
                                <h4 class="my-5 point" (click)="KnowledgeList()">Knowledge</h4>
                                <h4 class="my-5 point" (click)="EntertainmentList()">Entertainment</h4>
                                <h4 class="my-5 point" (click)="InformationList()">Information</h4>
                            </div>
                </div>
                <!-- <div class="aMargin">
                   <a (click)="Comment()" routerLink="#"><img src="assets/img/comment.png" width="20px" height="20px" />Comment</a>
                </div> -->
                <div class="aMargin">
                    <a (click)="Post()" routerLink="#"><img class="web" src="assets/img/post2.jpg" width="20px"
                            height="20px" />
                            <a class="btn" role="button" aria-expanded="false">
                                Post 
                            </a>
                        </a>
                </div>
                <!-- <div class="aMargin2">
                    <a routerLink="" style="font-size: 15px"> All(5)</a>
                </div>   
                <div class="aMargin2">
                    <a routerLink="" style="font-size: 15px">Published(20)</a>
                </div>      -->
            </div>
        </div>
        <div class="col-sm-8">

            <div *ngIf="marked1">
                <app-read-list></app-read-list>
            </div>
            <div *ngIf="marked2">
                <app-knowledge-list></app-knowledge-list>
            </div>
            <div *ngIf="marked3">
                <app-entertainment-list></app-entertainment-list>
            </div>
            <div *ngIf="marked4">
                <app-information-list></app-information-list>
            </div>
            <div *ngIf="marked5">
                <app-post-all></app-post-all>
            </div>
            <!-- <div *ngIf="marked2"><app-comments ></app-comments></div> -->


        </div>


    </div>

</div>



<div *ngIf="!marked6">
    <div class="row d-sm-none">
        <div class="col-sm-3">
            <div class="container" style="margin-top: -15%"> 

                <div class="d-flex flex-row bd-highlight mb-3">
                    <div class="p-2 bd-highlight mx-3"> <img
                                src="assets/img/reading.jpg" width="20px" height="30px" />
                                <a class="btn" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Reading List 
                                </a>
                                <div class="collapse" id="collapseExample" style="margin-left:60px ">
                                    <h4 class="my-5" (click)="ReadingList()">All</h4>
                                    <h4 class="my-5" (click)="KnowledgeList()">Knowledge</h4>
                                    <h4 class="my-5" (click)="EntertainmentList()">Entertainment</h4>
                                    <h4 class="my-5" (click)="InformationList()">Information</h4>
                                </div>
                             </div>
                    <div class="p-2 bd-highlight mx-3"><img src="assets/img/post2.jpg"
                                width="20px" height="20px" /><a class="btn" role="button" aria-expanded="false" (click)="Post()">
                                    Post
                                </a></div>

                </div>
            </div>
        </div>
        <div class="col-sm-8">

            <div *ngIf="marked1">
                <app-read-list></app-read-list>
            </div>
            <div *ngIf="marked2">
                <app-knowledge-list></app-knowledge-list>
            </div>
            <div *ngIf="marked3">
                <app-entertainment-list></app-entertainment-list>
            </div>
            <div *ngIf="marked4">
                <app-information-list></app-information-list>
            </div>
            <div *ngIf="marked5">
                <app-post-all></app-post-all>
            </div>
            <!-- <div *ngIf="marked2"><app-comments ></app-comments></div> -->


        </div>


    </div>

</div>

