<!--========================== section-info ===========================-->
<div class="container section no-padding">
        <div class="info">
            <div class="sec-ttl">
                <span class="info">Knowladge ></span>
            </div>
            <div class="row no-margin ">
                <div class="col-3 no-padding">
                    <div *ngFor="let item of arr; let i = index">
                      <div class="sec-news-block-1 sec-news-block-a" *ngIf="i == 0">
                        <img class="sec-block-a-img" src={{item.enlargeImgUrl}}>
                        <div class="sec-block-a-ttl">
                          <span (click)="moreDetail()">{{item.storyText}}</span>
                        </div>
                            <span>
                                <a target="_blank" href={{item.storyTextUrl}}>
                                    <img class="sec-block-a-source" src="./assets/img/source logo 2.png">
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-3 no-padding">
                    <div class="sec-news-block-2 sec-news-block-b" *ngFor="let item of arr; let i = index">
                        <div class="home-news-item-a" *ngIf="i > 0 && i < 4">
                            <div class="row no-margin">
                                <div class="col-5 no-padding"> <img class="home-news-item-a-img"
                                        src={{item.enlargeImgUrl}}> </div>
                                <div class="col-7 no-padding">
                                    <div class="home-news-item-a-ttl">
                                        <div class="a-hedline"><span (click)="moreDetail()">{{item.storyText}}</span></div>
                                        <div class="n-i-source">
                                                <span>
                                                    <a target="_blank" href={{item.storyTextUrl}}>
                                                        <img class="sec-block-a-source" src="./assets/img/source logo 2.png">
                                                    </a>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="home-news-item-a">
                            <div class="row no-margin">
                                <div class="col-5 no-padding"> <img class="home-news-item-a-img"
                                        src="assets/img/news item 2.png"> </div>
                                <div class="col-7 no-padding">
                                    <div class="home-news-item-a-ttl">
                                        <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                                        <div class="n-i-source"> <img class="source" src="assets/img/source logo 2.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="home-news-item-a">
                            <div class="row no-margin">
                                <div class="col-5 no-padding"> <img class="home-news-item-a-img"
                                        src="assets/img/news item 6.png"> </div>
                                <div class="col-7 no-padding">
                                    <div class="home-news-item-a-ttl">
                                        <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                                        <div class="n-i-source"> <img class="source" src="assets/img/source logo 2.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      -->
                    </div>
                </div>
                <div class="col-3 no-padding">
                    <div class="sec-news-block-3 sec-news-block-b" *ngFor="let item of arr; let i = index">
                        <div class="home-news-item-a" *ngIf="i > 3 && i < 7">
                            <div class="row no-margin">
                                <div class="col-5 no-padding"> <img class="home-news-item-a-img"
                                        src={{item.enlargeImgUrl}}> </div>
                                <div class="col-7 no-padding">
                                    <div class="home-news-item-a-ttl">
                                        <div class="a-hedline"><span (click)="moreDetail()">{{item.storyText}}</span></div>
                                        <div class="n-i-source"> 
                                                <span>
                                                    <a target="_blank" href={{item.storyTextUrl}}>
                                                        <img class="sec-block-a-source" src="./assets/img/source logo 2.png">
                                                    </a>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--
                        <div class="home-news-item-a">
                            <div class="row no-margin">
                                <div class="col-5 no-padding"> <img class="home-news-item-a-img"
                                        src="assets/img/news item 5.png"> </div>
                                <div class="col-7 no-padding">
                                    <div class="home-news-item-a-ttl">
                                        <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                                        <div class="n-i-source"> <img class="source" src="assets/img/source logo 3.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="home-news-item-a">
                            <div class="row no-margin">
                                <div class="col-5 no-padding"> <img class="home-news-item-a-img"
                                        src="assets/img/news item 1.png"> </div>
                                <div class="col-7 no-padding">
                                    <div class="home-news-item-a-ttl">
                                        <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                                        <div class="n-i-source"> <img class="source" src="assets/img/source logo 3.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="col-3 no-padding">
                    <div *ngFor="let item of arr; let i = index">
                      <div class="sec-news-block-4 sec-news-block-a" *ngIf="i == 7">
                        <img class="sec-block-a-img" src={{item.enlargeImgUrl}}>
                        <div class="sec-block-a-ttl">
                            <span (click)="moreDetail()">{{item.storyText}}</span>
                        </div>
                            <span>
                                <a target="_blank" href={{item.storyTextUrl}}>
                                    <img class="sec-block-a-source" src="./assets/img/source logo 2.png">
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      