<!--========================== BODY-top ===========================-->
<div class="cat-body-top">
    <div class="container no-padding">
        <div class="row no-margin">
            <h4 class="cat-ttl">Information</h4>
        </div>
        <div class="row no-margin">
            <div class="col-lg-8 col-sm-12  no-padding ">
                <div id="demo" class="carousel slide" data-ride="carousel">
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <!-- <img src={{bizNewsArray[0].thumbImageSrcUrl}} alt="Sri Lanka blasts: IT worker held" width="100%"> -->
                            <div *ngIf="bizNewsArray[0].enlargeImgUrl">
                                <img src={{bizNewsArray[0].enlargeImgUrl}} alt="Sri Lanka blasts: IT worker held" width="100%">
                            </div>
                            <div *ngIf="!bizNewsArray[0].enlargeImgUrl">
                                <img src={{bizNewsArray[0].thumbImageSrcUrl}} alt="Sri Lanka blasts: IT worker held" width="100%">
                            </div>

                            <div class="carousel-caption">
                                <h3>{{bizNewsArray[0].storyText | slice:0:60}}</h3>
                                <div class="cat-c-source">
                                    <a href="{{bizNewsArray[0].storyTextUrl}}" target="_blank">
                                        <img class="source" src="assets/img/source logo 3.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <!-- <img src={{newArray[1].thumbImageSrcUrl}} alt="HAPPY BIRTHAY BABY! HAPPY BIRTHDAY ERIC KRIPKE!" width="100%"> -->
                            <div *ngIf="newArray[0].enlargeImgUrl">
                                <img src={{newArray[0].enlargeImgUrl}} alt="Sri Lanka blasts: IT worker held" width="100%">
                            </div>
                            <div *ngIf="!newArray[0].enlargeImgUrl">
                                <img src={{newArray[0].thumbImageSrcUrl}} alt="Sri Lanka blasts: IT worker held" width="100%">
                            </div>
                            <div class="carousel-caption">
                                <h3>{{newArray[0].storyText | slice:0:60}}</h3>
                                <div class="cat-c-source">
                                    <a href="{{newArray[0].storyTextUrl}}" target="_blank">
                                        <img class="source" src="assets/img/source logo 3.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <!-- <img src={{newsVideoArray[0].thumbImageSrcUrl}} alt="Supernatural Continues to Make a Big Ol' Mess of Things" width="100%"> -->
                            <div *ngIf="newsVideoArray[0].enlargeImgUrl">
                                <img src={{newsVideoArray[0].enlargeImgUrl}} alt="Sri Lanka blasts: IT worker held" width="100%">
                            </div>
                            <div *ngIf="!newsVideoArray[0].enlargeImgUrl">
                                <img src={{newsVideoArray[0].thumbImageSrcUrl}} alt="Sri Lanka blasts: IT worker held" width="100%">
                            </div>
                            <div class="carousel-caption">
                                <h3>{{newsVideoArray[0].storyText | slice:0:60}}</h3>
                                <div class="cat-c-source">
                                    <a href="{{newsVideoArray[0].storyTextUrl}}" target="_blank">
                                        <img class="source" src="assets/img/source logo 3.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>




            <div class="col-lg-4 col-sm-12  no-padding ">
                <div class="col-lg-3 col-sm-6 no-padding"></div>
                <div class="sec-news-block-3 sec-news-block-b">
                    <div>
                        <div class="cat-news-item-a">
                            <div class="row no-margin">
                                <div class="col-6 no-padding">
                                    <img class="cat-news-item-a-img" src="{{newsVideoArray[0].thumbImageSrcUrl}}"> </div>
                                <div class="col-6 no-padding">
                                    <div class="cat-news-item-a-ttl">
                                        <div class="cat-a-hedline">{{newsVideoArray[0].storyText | slice:0:60}}</div>
                                        <div class="n-i-source">
                                            <a href="{{newsVideoArray[0].storyTextUrl}}" target="_blank">
                                                <img class="source" src="assets/img/source logo 3.png">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="cat-news-item-a">
                            <div class="row no-margin">
                                <div class="col-6 no-padding">
                                    <img class="cat-news-item-a-img" src="{{newArray[1].thumbImageSrcUrl}}"> </div>
                                <div class="col-6 no-padding">
                                    <div class="cat-news-item-a-ttl">
                                        <div class="cat-a-hedline">{{newArray[1].storyText | slice:0:60}}</div>
                                        <div class="n-i-source">
                                            <a href="{{newArray[1].storyTextUrl}}" target="_blank">
                                                <img class="source" src="assets/img/source logo 3.png">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="cat-news-item-a">
                            <div class="row no-margin">
                                <div class="col-6 no-padding">
                                    <img class="cat-news-item-a-img" src="{{bizNewsArray[0].thumbImageSrcUrl}}"> </div>
                                <div class="col-6 no-padding">
                                    <div class="cat-news-item-a-ttl">
                                        <div class="cat-a-hedline">{{bizNewsArray[0].storyText | slice:0:60}}</div>
                                        <div class="n-i-source">
                                            <a href="{{bizNewsArray[0].storyTextUrl}}" target="_blank">
                                                <img class="source" src="assets/img/source logo 3.png">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- ========================== cat-sec  =========================== -->
<div class="container no-padding cat-sec">
    <div class="row cat-sec-row-a">
        <div class="col-lg-3 col-sm-6 ">
            <div class="row no-margin">
                <h4 class="sub-cat-ttl">Hot News</h4>
            </div>
            <div *ngFor="let items of newArray; let i=index">
                <div class="sub-cat-news-item-a" *ngIf=" i < 3">
                    <div class="row no-margin">
                        <div class="col-5 no-padding">
                            <img class="cat-news-item-a-img" src="{{items.thumbImageSrcUrl}}"> </div>
                        <div class="col-7 no-padding">
                            <div class="cat-news-item-a-ttl">
                                <div class="a-hedline">{{items.storyText | slice:0:60}}...</div>
                                <div class="n-i-source">
                                    <a href="{{items.storyTextUrl}}" target="_blank">
                                        <img class="source" src="assets/img/source logo 3.png">
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>
        <div class="col-lg-3 col-sm-6 ">
            <div class="row no-margin">
                <h4 class="sub-cat-ttl">Hot News</h4>
            </div>
            <div *ngFor="let items of newArray; let i=index">
                <div class="sub-cat-news-item-a" *ngIf=" i >= 3 && i < 6">

                    <div class="row no-margin">
                        <div class="col-5 no-padding">
                            <img class="cat-news-item-a-img" src="{{items.thumbImageSrcUrl}}"> </div>
                        <div class="col-7 no-padding">
                            <div class="cat-news-item-a-ttl">
                                <div class="a-hedline">{{items.storyText | slice:0:60}}...</div>
                                <div class="n-i-source">
                                    <a href="{{items.storyTextUrl}}" target="_blank">
                                        <img class="source" src="assets/img/source logo 3.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>
        <div class="col-lg-3 col-sm-6 ">
            <div class="row no-margin">
                <h4 class="sub-cat-ttl">Hot News</h4>
            </div>
            <div *ngFor="let items of newArray; let i=index">
                <div class="sub-cat-news-item-a" *ngIf=" i >= 6 && i < 9">
                    <div class="row no-margin">
                        <div class="col-5 no-padding">
                            <img class="cat-news-item-a-img" src="{{items.thumbImageSrcUrl}}"> </div>
                        <div class="col-7 no-padding">
                            <div class="cat-news-item-a-ttl">
                                <div class="a-hedline">{{items.storyText | slice:0:60}}...</div>
                                <div class="n-i-source">
                                    <a href="{{items.storyTextUrl}}" target="_blank">
                                        <img class="source" src="assets/img/source logo 3.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>
        <div class="col-lg-3 col-sm-6 ">
            <div class="row no-margin">
                <h4 class="sub-cat-ttl">Hot News</h4>
            </div>
            <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="row cat-sec-row-b">
        <div class="col-lg-3 col-sm-6 ">
            <div class="row no-margin">
                <h4 class="sub-cat-ttl">Biz News</h4>
            </div>
            <div *ngFor="let items of bizNewsArray; let i=index">
                <div class="sub-cat-news-item-a" *ngIf=" i < 3">
                    <div class="row no-margin">
                        <div class="col-5 no-padding">
                            <img class="cat-news-item-a-img" src="{{items.thumbImageSrcUrl}}"> </div>
                        <div class="col-7 no-padding">
                            <div class="cat-news-item-a-ttl">
                                <div class="a-hedline">{{items.storyText | slice:0:60}}...</div>
                                <div class="n-i-source">
                                    <a href="{{items.storyTextUrl}}" target="_blank">
                                        <img class="source" src="assets/img/source logo 3.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>

        <div class="col-lg-3 col-sm-6 ">
            <div class="row no-margin">
                <h4 class="sub-cat-ttl">Biz News</h4>
            </div>
            <div *ngFor="let items of bizNewsArray; let i=index">
                <div class="sub-cat-news-item-a" *ngIf=" i >=3 && i < 6">
                    <div class="row no-margin">
                        <div class="col-5 no-padding">
                            <img class="cat-news-item-a-img" src="{{items.thumbImageSrcUrl}}"> </div>
                        <div class="col-7 no-padding">
                            <div class="cat-news-item-a-ttl">
                                <div class="a-hedline">{{items.storyText | slice:0:60}}...</div>
                                <div class="n-i-source">
                                    <a href="{{items.storyTextUrl}}" target="_blank">
                                        <img class="source" src="assets/img/source logo 3.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>
        <div class="col-lg-3 col-sm-6 ">
            <div class="row no-margin">
                <h4 class="sub-cat-ttl">News Videos</h4>
            </div>
            <div *ngFor="let items of newsVideoArray; let i=index">
                <div class="sub-cat-news-item-a" *ngIf="i < 3">
                    <div class="row no-margin">
                        <div class="col-5 no-padding">
                            <img class="cat-news-item-a-img" src="{{items.thumbImageSrcUrl}}"> </div>
                        <div class="col-7 no-padding">
                            <div class="cat-news-item-a-ttl">
                                <div class="a-hedline">{{items.storyText | slice:0:60}}...</div>
                                <div class="n-i-source">
                                    <a href="{{items.storyTextUrl}}" target="_blank">
                                        <img class="source" src="assets/img/source logo 3.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>
        <div class="col-lg-3 col-sm-6 ">
            <div class="row no-margin">
                <h4 class="sub-cat-ttl">News Videos</h4>
            </div>
            <div *ngFor="let items of newsVideoArray; let i=index">
                <div class="sub-cat-news-item-a" *ngIf=" i >=3 && i < 6">
                    <div class="row no-margin">
                        <div class="col-5 no-padding">
                            <img class="cat-news-item-a-img" src="{{items.thumbImageSrcUrl}}"> </div>
                        <div class="col-7 no-padding">
                            <div class="cat-news-item-a-ttl">
                                <div class="a-hedline">{{items.storyText | slice:0:60}}...</div>
                                <div class="n-i-source">
                                    <a href="{{items.storyTextUrl}}" target="_blank">
                                        <img class="source" src="assets/img/source logo 3.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="sub-cat-news-item-a">
                <div class="row no-margin">
                    <div class="col-5 no-padding">
                        <img class="cat-news-item-a-img" src="assets/img/news item 1.png"> </div>
                    <div class="col-7 no-padding">
                        <div class="cat-news-item-a-ttl">
                            <div class="a-hedline">Sri Lanka blasts: IT worker held</div>
                            <div class="n-i-source">
                                <img class="source" src="assets/img/source logo 3.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>

    </div>
</div>
<!--========================== photos ===========================-->